{:scalars
 {:UUID {:parse :uuid-parser
         :serialize :uuid-serializer}
  :Date {:parse :date-parser
         :serialize :date-serializer}
  :Interval {:parse :interval-parser
             :serialize :interval-serializer}}

 :objects
 {:Event
  {:description "Event"
   :fields
   {:event_id {:type UUID}
    :summary {:type (non-null String)}
    :descr {:type String}
    :dtstamp {:type (non-null String)}
    :dtstart {:type String}
    :dtend {:type String}
    :duration {:type String}}}
  :RepeatEvent
  {:description "Temp. Not used."
   :fields
   {:unit {:type (non-null String)}
    :interval {:type (non-null Int)}}}
  :Mutation
  {:fields
   {:insert_event
    {:type :Event
     :args {:summary {:type String}
            :descr {:type String}
            :dtstamp {:type Date}
            :dtstart {:type Date}
            :dtend {:type Date}
            :duration {:type Interval}}
     :resolve :mutation/insert-event}}}}

 :queries
 {:event_by_id
  {:type :Event
   :args {:id {:type UUID}}
   :resolve :query/event-by-id}
  :all_events
  {:type (list :Event)
   :resolve :query/all-events}}}
