{:scalars
 {:UUID {:parse :uuid-parser
         :serialize :uuid-serializer}}

 :objects
 {:Event
  {:description "Event"
   :fields
   {:event_id {:type (non-null UUID)}
    :summary {:type (non-null String)}
    :descr {:type String}
    :dtstamp {:type (non-null String)}
    :dtstart {:type String}
    :dtend {:type String}
    :duration {:type String}}}
  :RepeatEvent
  {:description "Temp. Not used."
   :fields
   {:unit {:type (non-null String)}
    :interval {:type (non-null Int)}}}}

 :queries
 {:event_by_id
  {:type :Event
   :args {:id {:type ID}}
   :resolve :query/event-by-id}
  :all_events
  {:type (list :Event)
   :resolve :query/all-events}}}
